* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
h1{
    font-family: Inter, sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
    color: rgb(255, 255, 255);   

}
.sofa{
 
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
}

.first {
    background-color: #3B5D50;

    background-position: center;
    /* max-width: 620px; */
}

.navbar-logo {
    font-family: Inter, sans-serif;

    font-size: 32px;

    font-weight: 600;

    line-height: 28px;

    color: rgb(255, 255, 255);
}

.navbar-container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
}

.list-item,
.list-elements,
.logo-nav {
    display: flex;
}

.list-elements {
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
    color: #99b0a7;
    justify-content: space-around;
    font-weight: bold;
    transition: color,ease-in,0.3s;
}
.list-elements li:hover{
    color: white;
    text-decoration: underline;
}

.logo-nav {
    gap: 20px;
    justify-content: space-around;

}
.sofa{
    padding: 1px 1px 1px 1px;
}

.heading {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    /* padding: calc(8rem - 30px) 0 8rem 0; */
    justify-content: space-between;

}
.car-container{
    display: flex;
    max-width: 80%;
    text-align: center;
    justify-content:space-between;
    /* margin-left: 50px; */
    margin-top: 50px;
}
.second-chair-container{
    display: flex;
    max-width: 80%;
    text-align: center;
    justify-content:space-between;
    /* margin-left: 50px; */
    margin-top: 50px;   
}
.items1 img{
    width: 350px;
}