*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 11px 0 9px;

}
.wiz-logo{
    margin: 0 auto;
}
.icons-container{
 display: flex;
 list-style: none;
    flex-direction: row;
    align-items: center;
    padding: 0 65px;
}
.icons-container li{
    margin-right: 14px;
}
.hovericon:hover{
    transform: rotateY(180deg);
}
.search-container{
    display: flex;
    align-items: center;
    margin-right: 25px;

}
.search-field{
    background: #353434;
}
.search-icon{
    position: absolute;
    margin: 2px 0px 0px 193px;
}
.button1{
background: black;
border: 1px solid black;
color: white;
margin:7px;
padding: 6px;
cursor: pointer;
}
.button1:hover{
    background-color: #353434;
    border-radius: 3px;
}
.button2{
    background: #4642a6;
    margin:7px;
    color: white;
padding: 6px;
border-radius: 4px;
border:1px solid #4642a6;
}